@import url('https://fonts.googleapis.com/css?family=Krona+One|Poppins|Roboto+Mono');

//colours
$main-bg-color: #6B4367;
$home-bg-color: #1CC89D;
$about-bg-color: #ED5B62;
$portfolio-bg-color: #2A99E1;
$contact-bg-color: #6B4367;
$main-text-color: #eee;
$email-color: #FFAB24;
$github-color: #333;
$linkedin-color: #0077B5;
$twitter-color: #1DA1F2;
$filled-form-item: #fff;

//background img urls
$random-quote-img: '../img/random_quote_machine.png';
$img-search-img: '../img/image_search_API.png';
$wiki-search-img: '../img/wikipedia_search_engine.png';
$twitch-viewer-img: '../img/twitch_tv_stream_list.png';
$file-api-img: '../img/file_metadata_retriever_API.png';
$url-short-img: '../img/url_shortener_microservice.png';
$orig-portfolio-img: '../img/first_portfolio_site.png';
$tribute-page-img: '../img/first_page_with_bootstrap.png';
$weather-app-img: '../img/weather_app.png';

@mixin transition($prop,
$duration,
$timing,
$delay) {
  -webkit-transition: $prop $duration $timing $delay;
  -moz-transition: $prop $duration $timing $delay;
  -o-transition: $prop $duration $timing $delay;
  transition: $prop $duration $timing $delay;
}

body {
  background: $main-bg-color;
  font-size: 12px;
  margin: 0;
  color: $main-text-color;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 1rem;
  -webkit-margin-after: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
  li {
    float: left;
    margin: 0 15px;
  }
}

nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  width: 100%;
  @include transition(top,
  .2s,
  ease-out,
  0s);
}

.nav-home {
  position: absolute;
  top: 75vh;
  @include transition(top,
  .2s,
  ease-out,
  0s);
}

.nav-list li {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 2px 15px #444;
  font-size: 1.5em;
  background-color: $main-text-color;
  @include transition(background-color, .5s, ease, 0s);
  &.about:hover {
    background-color: $about-bg-color;
    &.active {
      color: $about-bg-color;
      border-bottom: 2px solid $about-bg-color;
    }
  }
  &.portfolio:hover {
    background-color: $portfolio-bg-color;
    &.active {
      color: $portfolio-bg-color;
      border-bottom: 2px solid $portfolio-bg-color;
    }
  }
  &.contact:hover {
    background-color: $contact-bg-color;
    &.active {
      color: $contact-bg-color;
      border-bottom: 2px solid $contact-bg-color;
    }
  }
  &.active {
    background-color: #eee;
  }
}

.logo {
  width: 10vw;
}

.icon-bar {
  border-bottom: 2px solid;
  border-color: inherit;
}

.visible {
  visibility: visible;
}

.social-icons {
  z-index: 2;
  text-shadow: 1px 2px 15px #444;
  a {
    font-size: 4em;
    @include transition(color,1s,ease-out,0s);
  }
  li {
    list-style: none;
    &:hover {
      cursor: pointer;
      .contact-anim {
        text-decoration: underline;
        font-size: 1.4em;
      }
      .fa-thumbs-o-up, .hire {
        color: $home-bg-color;
      }
      .fa-envelope-o, .email {
        color: $email-color;
      }
      .fa-github, .github {
        color: $github-color;
      }
      .fa-linkedin, .linkedin {
        color: $linkedin-color;
      }
    }
  }
  &.contact {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    font-size: 1.2em;

    ul {
      width: 100%;
    }

    li {
      display: flex;
      align-items: stretch;
      margin: 2em 0 0 0;
      width: 100%
    }
    a {
      width: 30%;
    }
    div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 70%;
    }
  }
}

.flex-space-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sr-text {
  position: absolute;
  left: -200%;
}

.contact-anim {
  @include transition(font-size, .5s, ease, 0s);
  &::before {
    content: '1';
    visibility: hidden;
}
}

h1 {
  font-size: calc(2vw + 6vh);
  display: inline-block;
  position: relative;
  top: -3vh;
  left: 15vw;
  margin: 0;
  &::before {
    content: '< ';
  }
  &::after {
    content: ' />';
  }
}

.home-section {
  background-color: $home-bg-color;
}

.about-section {
  background-color: $about-bg-color;
}

.portfolio-section {
  background-color: $portfolio-bg-color;
}

.contact-section {
  background-color: $contact-bg-color;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 68%;
}

.about-desc-wrapper {
  width: 40vw;
  min-width: 300px;
}

.img-wrapper {
  margin: -20px 50px 0 50px;
  vertical-align: middle;
  width: 20vw;
  height: auto;
  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}

.slider {
  width: 85vw;
  margin: 2rem 0 0 0;
}

.slider-item {
  height: 50vh;
  width: 95%;
  max-width: 390px;
  max-height: 250px;
  min-height: 225px;
  margin: 15px auto;
  box-shadow: 1px 1px 10px black;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    .slider-item-overlay{
      top: 0;
    }
  } 
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &.random-quote {
    background-image: url($random-quote-img);
  }
  &.img-search {
    background-image: url($img-search-img);
  }
  &.wiki_search {
    background-image: url($wiki-search-img);
  }
  &.twitch-viewer {
    background-image: url($twitch-viewer-img);
  }
  &.file-api {
    background-image: url($file-api-img);
  }
  &.url-short {
    background-image: url($url-short-img);
  }
  &.original-portfolio {
    background-image: url($orig-portfolio-img);
  }
  &.tribute-page {
    background-image: url($tribute-page-img);
  }
  &.weather-app {
    background-image: url($weather-app-img);
  }
}

.slider-item-overlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  height: 100%;
  top: 85%;
  background-color: rgba(0, 0, 0, 0.8);
  @include transition(top, .5s, ease-out, 0s);
  font-size: 1.2em;
  h3, h4 {
    display: flex;
    align-items: center;
  }
  h3{
    min-height: 45px;  
    height: 15%;
    margin: 0;
  }
  h4 {
    margin: 10% 0 0 0;
  }
  p, ul {
    width: 80%
  }
  p {
    max-height: 25%;
    margin: 0;
    &::after {
      display: block;
      content: 'Click for more details';
      margin: 0.5em 0 0 0;
    }
  }

}

.tech-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  max-height: 25%;
  margin: 0.2em 0 0.5em 0;
  li {
    margin: 0em 0 0 1em;
  }
  
  i {
    font-size: 1.1em;
    margin: 0 0.5em 0 0;
  }
}

.about-content {
  overflow: visible;
}

.contact-content {
  align-items: flex-start;
  padding: 5em 0 0 0;
  height: 80%;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill
{
    &, &:hover, &:focus, &:active
    {
        box-shadow: 0 0 0px 1000px white inset !important;
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    }
}

#form-container {
  width: 25vw;
  height: 100%;
  font-size: 1.2em;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contact-button {
  height: 3em;
  background: none;
  border: none;
  margin: 20px 0 0 0;
  outline: none;
  span {
    cursor: pointer;
    font-size: 3em;
    color: $main-text-color;
    margin: auto;
    padding: 0.1em 0.5em;
    border: 2px solid $main-text-color;
    &:hover {
      background-color: $main-text-color;
      color: $contact-bg-color;
      @include transition(background-color,
      .5s,
      ease-out,
      0s);
    }
  }
}

#form-container label {
  color: $main-text-color;
  position: relative;
  font-size: 1.2em;
  float: left;
  margin-left: 10px;
  opacity: 0;
  top: 2em;
  @include transition(opacity,.3s,ease,0s);
  @include transition(top,.3s,ease,0s);
}

#form-container .label-visible {
  opacity: 1;
  top: 0em;
}

.form-item {
  background-color: transparent;
  font-size: 1.2em;
  margin: 10px;
  padding: 10px;
  border-width: 0px 0px 1px 0px;
  border-color: #eee;
  color: $main-text-color;
  outline: none;
  z-index: 3;
  @include transition(background-color, .5s, ease, 0s);
  &:focus {
    outline: 2px solid #fff;
  }
}

textarea.form-item {
  min-height: 100px;
  resize: none;
}

.filled {
  background-color: $filled-form-item;
  color: black;
}

.lightbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}

.lightbox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40vw;
  height: 70vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 1.5em;

  .close-btn {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    background: none;
    border: none;
    i {
      width: 100%;
      height: 100%;
      color: $main-text-color;
    }
  }

  p, .tech-list {
    display: inline-block;
    width: 50%;
  }
}

.screenshot {
  width: 15vw;
  max-width: 350px;
  height: 30vh;
  max-height: 250px;
  float: right;
  margin: 0 5%;
}

.proj-links {
  float: right;

  li {  
    float: left;
  }

}

@media(max-width: 1200px){
  .slider {
    width: 75vw;
  }
}
@media(max-width: 670px) {

  h1, h2 {
    width: 100%;
    text-align: center;
    left: 0;
    top: 3vh;
  }

  nav.nav-home {
    top: 0vh;
  }
  .nav-list {
    display: none;
  }

  .slider {
    width: 80vw;
  }

  .slider-item-overlay {
    font-size: 1em;
  }
  .social-icons.contact {
    width: 90%;
  }

  .fa-thumbs-o-up {
    margin: 0 0.1em 0 0;
  }

  #form-container {
    width: 90vw;
    height: 50vh;
    margin: 20px 0 0 0;
  }
}

@media (min-width: 1600px) {
  .slider {
    width: 70vw;
  }
}