@import url('https://fonts.googleapis.com/css?family=Krona+One|Poppins|Roboto+Mono');

$main-bg-color: #1CC89D;
$home-bg-color: #1CC89D;
$about-bg-color: #ED5B62;
$portfolio-bg-color: #506CBA;
$contact-bg-color: #6B4367;
$main-text-color: #eee;
$nav-button-color: #FFAB24;

@mixin transition($prop, $duration, $timing, $delay) {
  -webkit-transition: $prop $duration $timing $delay;
  -moz-transition: $prop $duration $timing $delay;
  -o-transition: $prop $duration $timing $delay;
  transition: $prop $duration $timing $delay;
}

body {
  background: $main-bg-color;
  font-size: 12px;
  margin: 0;
  color: $main-text-color;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
  ul {
    list-style: none;
    -webkit-padding-start: 0;
    -webkit-margin-before: 1rem;
    -webkit-margin-after: 1rem;
  }
  
  li {
    float: left;
    margin: 0 15px;
  }
  
}

nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  width: 100%;
  @include transition(top, .2s, ease-out, 0s);
}

.nav-home {
  position: absolute;
  top: 75vh;
  @include transition(top, .2s, ease-out, 0s);
}
.nav-list li {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 2px 15px #444;
  font-size: 1.5em;
  &.about {
    background-color: $about-bg-color;
    &.active{
      color: $about-bg-color;
      border-bottom: 2px solid $about-bg-color;
    }
  }
  &.portfolio {
    background-color: $portfolio-bg-color;
    &.active{
      color: $portfolio-bg-color;
      border-bottom: 2px solid $portfolio-bg-color;
    }
  }
  &.contact {
    background-color: $contact-bg-color;
    &.active{
      color: $contact-bg-color;
      border-bottom: 2px solid $contact-bg-color;
    }
  }
  &.active {
    background-color: #eee;
  }


}
.logo {
  width: 10vw;
}

.menu-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 25px;
  border: 2px solid $main-text-color;
  border-radius: 10px;
  padding: 2px 8px;
  display: none;
  &:hover {
    background-color: #eee;
    border-color: #000;
  }
}

.icon-bar {
  border-bottom: 2px solid;
  border-color: inherit;
}

@media(max-width: 670px) {
nav.nav-home {
  top: 0vh;
}
  .nav-list {
  display: none;
}

.menu-hamburger {
  display: inherit;
  margin: 5px 0 0 0;
  cursor: pointer;
}

}

.visible {
  visibility: visible;
}

.social-icons {
  font-size: 4em;
  z-index: 2;
  text-shadow: 1px 2px 15px #444;
}

.sr-text {
  position: absolute;
  left: -200%;
}

h1 {
    font-size: 8em;
    display: inline-block;
    position: relative;
    top: 6vh;
    left: 16vh;
    text-shadow: 1px 2px 15px #444;
    &::before {
      content: '< ';
    }
    &::after {
      content: ' />';
    }
  }

.home-section {
  background-color: $home-bg-color;
}

.about-section {
  background-color: $about-bg-color;
}

.portfolio-section {
  background-color: $portfolio-bg-color;
}

.contact-section {
  background-color: $contact-bg-color;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  height: 68%;
}

.about-desc-wrapper {
  width: 40vw;
  min-width: 300px;
}

  .img-wrapper {
      margin: -20px 50px 0 50px;
      vertical-align: middle;
      width: 20vw;
      height: auto;
    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }

.slider {
  width: 80vw;
  height: 70%;
  margin: 5rem 0 0 0;
}

.slider-item {
  height: 50vh;
}

#form-container {
  height: 100%;
}

#form-container label {
  color: $main-text-color;
  position: relative;
  font-size: 1.2em;
  float: left;
  margin-left: 10px;
  opacity: 0;
  top: 2em;
  -webkit-transition: top .3s ease,opacity .3s ease;
  -moz-transition: top .3s ease,opacity .3s ease;
  -ms-transition: top .3s ease,opacity .3s ease;
  transition: top .3s ease,opacity .3s ease;
}

#form-container .label-visible {
  opacity: 1;
  top: 0em;
}