<!DOCTYPE html>
<html>
<% include ../partials/head %>

    <body>
        <header>
            <div class="logo"></div>
            <nav class="nav nav-home">

            </nav>
            <div class="social-icons header">
                <ul>
                    <li>
                        <a class="fa fa-fw fa-github" href="https://github.com/adamtarrant" target="_blank"></a>
                        <span class="sr-text">Link to Github</span>
                    </li>
                    <li>
                        <a class="fa fa-fw fa-linkedin" href="#"></a>
                        <span class="sr-text">Link to LinkedIn</span>
                    </li>
                    <li>
                        <a class="fa fa-fw fa-envelope-o" href="#"></a>
                        <span class="sr-text">Link to my email</span>
                    </li>
                </ul>
            </div>
        </header>
        <div id="fullpage">
            <section class="home-section  fp-auto-height-responsive">
                <h1>invocode</h1>
                <div class="content home-content">
                    <p>Infinitely Inventive and Innovative</p>
                    <p>Full stack web development</p>
                </div>
            </section>
            <section class="about-section  fp-auto-height-responsive">
                <h1>about</h1>
                <div class="content about-content">
                    <div class="about-desc-wrapper">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nulla nisi, posuere vitae erat vitae,
                            iaculis fringilla urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse
                            in metus in mi rhoncus suscipit ut non magna. Nam aliquam neque sed nisl tincidunt, at eleifend
                            quam pellentesque.</p>
                    </div>
                    <div class="img-wrapper">
                        <img src="img/me.jpg" />
                    </div>
                </div>
            </section>
            <section class="portfolio-section fp-auto-height-responsive">
                <h1>portfolio</h1>
                <div class="content">
                    <div class="slider">
                        <div><div class="slider-item random-quote">
                            <div class="slider-item-overlay">
                                <h3>Random Quote Machine</h3>
                                <p>The Random Quote Machine uses an API to retrieve random 
                                    quotes - which the user can then tweet. Fully responsive design.
                                    Implements the &lt;canvas&gt; and &lt;svg&gt; tags in HTML5 for the background. 
                                </p>
                                <h4>Technologies</h4>
                                <ul>
                                    <% include ../partials/devicons/javascript %>
                                    <% include ../partials/devicons/jquery %>
                                    <% include ../partials/devicons/html5 %>
                                    <% include ../partials/devicons/css3 %>
                                    <% include ../partials/devicons/sass %>
                                    <% include ../partials/devicons/bootstrap %>
                                </ul>
                            </div>
                        </div></div>
                        <div><div class="slider-item img-search">
                            <div class="slider-item-overlay">
                                <h3>Image Search API</h3>
                                <p>This is an absracted image search API. The frontend acts as documentation 
                                    allowing developers to preview responses of the API endpoints. Allows for pagination.
                                </p>
                                <h4>Technologies</h4>
                                <ul>
                                    <% include ../partials/devicons/javascript %>
                                    <% include ../partials/devicons/reactjs %>
                                    <% include ../partials/devicons/nodejs %>
                                    <% include ../partials/devicons/mongodb %>
                                    <% include ../partials/devicons/webpack %>
                                    <% include ../partials/devicons/sass %>
                                </ul>
                            </div>
                        </div></div>
                        <div><div class="slider-item wiki_search">
                            <div class="slider-item-overlay">
                                <h3>Wikipedia Search Engine</h3>
                                <p>
                                    Fully responsive page allowing users to search Wikipedia articles.
                                    Uses the Wikipedia search API.
                                </p>
                                <h4>Technologies</h4>
                                <ul>
                                    <% include ../partials/devicons/javascript %>
                                    <% include ../partials/devicons/jquery %>
                                    <% include ../partials/devicons/html5 %>
                                    <% include ../partials/devicons/css3 %>
                                </ul>
                            </div>
                        </div></div>
                        <div><div class="slider-item twitch-viewer">
                            <div class="slider-item-overlay">
                                <h3>Twitch.tv Viewer</h3>
                                <p>
                                    Shows featured live streams from twitch.tv. 
                                    Shows a list of regular streamers, live and offline. There is
                                    also a search function to search for twitch.tv streamers. 
                                </p>
                                <h4>Technologies</h4>
                                <ul>
                                    <% include ../partials/devicons/javascript %>
                                    <% include ../partials/devicons/jquery %>
                                    <% include ../partials/devicons/html5 %>
                                    <% include ../partials/devicons/css3 %>
                                </ul>
                            </div>
                        </div></div>
                        <div><div class="slider-item file-api">
                            <div class="slider-item-overlay">
                                <h3>File Metadata Microservice</h3>
                                <p>
                                    An API that returns metadata for an uploaded file.
                                </p>
                                <h4>Technologies</h4>
                                <ul>
                                    <% include ../partials/devicons/javascript %>
                                    <% include ../partials/devicons/reactjs %>
                                    <% include ../partials/devicons/nodejs %>
                                    <% include ../partials/devicons/webpack %>
                                    <% include ../partials/devicons/html5 %>
                                    <% include ../partials/devicons/css3 %>
                                </ul>
                            </div>
                        </div></div>
                        <div><div class="slider-item url-short">
                            <div class="slider-item-overlay">
                                <h3>URL Shortener</h3>
                                <p>
                                    An API that accepts a url and returns a
                                    parameter that can be used to submit to the API
                                    in place of the original url. Stores urls in a mongoDB instance.
                                </p>
                                <h4>Technologies</h4>
                                <ul>
                                    <% include ../partials/devicons/javascript %>
                                    <% include ../partials/devicons/nodejs %>
                                    <% include ../partials/devicons/express %>
                                    <% include ../partials/devicons/mongodb %>
                                </ul>
                            </div>
                        </div></div>
                        <div><div class="slider-item original-portfolio">
                            <div class="slider-item-overlay">
                                <h3>Old Portfolio Site</h3>
                                <p>
                                    First portfolio site using the Bootstrap grid for a 
                                    fully responsive layout.
                                </p>
                                <h4>Technologies</h4>
                                <ul>
                                    <% include ../partials/devicons/javascript %>
                                    <% include ../partials/devicons/jquery %>
                                    <% include ../partials/devicons/html5 %>
                                    <% include ../partials/devicons/css3 %>
                                    <% include ../partials/devicons/bootstrap %>
                                </ul>
                            </div>
                        </div></div>
                        <div><div class="slider-item tribute-page">
                            <div class="slider-item-overlay">
                                <h3>Tribute Page</h3>
                                <p>
                                    Fully responsive page using Bootstrap.
                                </p>
                                <h4>Technologies</h4>
                                <ul>
                                        <% include ../partials/devicons/html5 %>
                                        <% include ../partials/devicons/css3 %>
                                </ul>
                            </div>
                        </div></div>
                        <div><div class="slider-item weather-app">
                            <div class="slider-item-overlay">
                                <h3>Current Weather App</h3>
                                <p>Uses geolocation API to obtain users location
                                    and provide the current weather forecast for that City.
                                    Uses the DarkSky API.
                                </p>
                                <h4>Technologies</h4>
                                <ul>
                                    <% include ../partials/devicons/javascript %>
                                    <% include ../partials/devicons/html5 %>
                                    <% include ../partials/devicons/css3 %>
                                    <% include ../partials/devicons/jquery %>
                                </ul>
                            </div>
                        </div></div>
                    </div>
                </div>
            </section>
            <section class="contact-section fp-auto-height-responsive">
                <h1>contact</h1>
                <div class="contact-content content">
                    <div class="social-icons contact">
                        <h2>Around the web</h2>
                        <p>Please get in touch using the form or one of the methods below</p>
                        <ul>
                            <li class="flex-space-start">
                                <a class="fa fa-fw fa-github" href="https://github.com/adamtarrant" target="_blank"></a>
                                <div>
                                <span class="sr-text">Link to Github</span>
                                <span class="contact-desc">Checkout my code on</span><span class="contact-anim github">Github</span>
                                </div>
                            </li>
                            <li class="flex-space-start">
                                <a class="fa fa-fw fa-linkedin" href="#"></a>
                                <div>
                                <span class="sr-text">Link to my Linkedin</span>
                                <span class="contact-desc">Connect with me on</span><span class="contact-anim linkedin">LinkedIn</span>
                            </div>
                            </li>
                            <li class="flex-space-start">
                                    <a class="fa fa-fw fa-envelope-o" href="#"></a>
                                    <div>
                                    <span class="sr-text">Link to my email</span>
                                    <span class="contact-desc">Send an email to</span><span class="contact-anim email">contact@invocode.io</span>
                                </div>
                            </li>
                            <li class="flex-space-start">
                                    <a class="fa fa-fw fa-thumbs-o-up" href="#"></a>
                                    <div>
                                    <span class="sr-text">Link to hire me</span>
                                    <span class="contact-desc">Hire</span><span class="contact-anim hire">me</span>
                                </div>
                                </li>
                        </ul>
                    </div>
                    <div id="form-container">
                        <h2>Get in touch</h2>
                        <form>
                            <label for="name">Name</label>
                            <input class="form-item" type="text" name="name" placeholder="Name">
                            <label for="email">Email</label>
                            <input class="form-item" type="email" name="email" placeholder="Email Address">
                            <label for="phone">Phone Number</label>
                            <input class="form-item" type="text" name="phone" placeholder="Phone Number">
                            <label for="message">Message</label>
                            <textarea class="form-item" type="text" rows="5" name="message" placeholder="Message"></textarea>
                            <button class="contact-button" type="submit"><span>SEND</span></button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </body>

</html>