<!DOCTYPE html>
<html>
        <% include ../partials/head %>

        <style>
                .loader {
                    position: fixed;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100vw;
                    height: 100vh;
                    background-color: #1CC89D;
                    z-index: 100;
                }
            
                .loading-text {
                    color: hsla(0, 50%, 100%, .3);
                    font-size: 3em;
                }
            
                @keyframes loading {
                    from {
                        max-width: 0;
                    }
                }
            
                .loading-text:before {
                    content: attr(data-content);
                    position: absolute;
                    overflow: hidden;
                    max-width: 4.5em;
                    color: #fff;
                    animation: loading 2.5s linear infinite alternate;
                    min-height: 100px;
                }
                .svg-logo {
                    width: 150px;
                }
            </style>
            
            <div class="loader">
                <div class="svg-logo"><% include ../partials/logo %></div>

                <div class="loading-text" data-content="Loading...">Loading...</div>
            </div>
            
    <body>
        
        <header>
            <div class="logo">
                <% include ../partials/logo %>
            </div>
            <nav>
                <div class="menu-wrapper">
                    <ul class="menu-list">
                        <li class="menu-list-item open">
                            <a class="menu-btn open">
                                <i class="fa fa-list-ul"></i>
                            </a>
                        </li>
                        <li class="menu-list-item home">
                            <a class="menu-btn home nav-btn" dataanchor="home">
                                <i class="fa fa-home" dataanchor="home"></i>
                            </a>
                        </li>
                        <li class="menu-list-item about">
                            <a class="menu-btn about nav-btn" dataanchor="about">
                                <i class="fa fa-user" dataanchor="about"></i>
                            </a>
                        </li>
                        <li class="menu-list-item portfolio">
                            <a class="menu-btn portfolio nav-btn" dataanchor="portfolio">
                                <i class="fa fa-code" dataanchor="portfolio"></i>
                            </a>
                        </li>
                        <li class="menu-list-item contact">
                            <a class="menu-btn contact nav-btn" dataanchor="contact">
                                <i class="fa fa-envelope" dataanchor="contact"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>
        <div id="fullpage">
            <section class="home-section fp-auto-height-responsive fp-noscroll" data-anchor="home">
                <div class="content home">
                    <div class="down-btn-wrapper flex-center-col">
                        <p>Click or tap to scroll down</p>
                        <button class="down-btn">
                            <span><i class="fa fa-chevron-down"></i></span>
                        </button>
                    </div>
                </div>
            </section>
            <section class="about-section fp-auto-height-responsive fp-noscroll" data-anchor="about">
                <h1>about</h1>
                <div class="content about">
                    <div class="about-upper">
                        <div class="about-desc-wrapper">
                            <p>Hello. My name is Adam, a self-taught programmer based in London. I am currently looking to move into a full-time web development role. I absolutely love learning about new
                                    technologies and am currently focused on fullstack Javascript development. My previous experience includes a wide variety of
                                roles within the technology sector, including Project Management and Solution Architecture.
                                
                            </p>
                        </div>
                        <div class="img-wrapper">
                            <img src="img/me.png" alt="Picture of me" />
                        </div>
                    </div>
                    <div class="about-lower">
                        <div class="skills">
                            <h2>Skills</h2>
                            <ul class="skills-grid">
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/atom_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/aws_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/babel_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/bootstrap_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/linux_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/css3_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/apache_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/express_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/heroku_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/html5_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/java_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/javascript_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/jquery_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/less_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/mongodb_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/mysql_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/nginx_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/nodejs_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/react_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/sass_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/vs_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/webpack_svg %>
                                </li>
                                <li class="skills-grid-item">
                                    <% include ../partials/devicons/inkscape_svg %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="portfolio-section fp-auto-height-responsive fp-noscroll" data-anchor="portfolio">
                <h1>portfolio</h1>
                <div class="content portfolio">
                    <div class="slider">
                        <div>
                            <button class="open-lightbox-btn" for="lightbox1">
                                <div class="slider-item bg-image random-quote">
                                    <div class="slider-item-overlay">
                                        <h3>Random Quote Machine</h3>
                                        <p>Click the button for a quote, click the other button to tweet!
                                        </p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div>
                            <button class="open-lightbox-btn" for="lightbox2">
                                <div class="slider-item bg-image img-search">
                                    <div class="slider-item-overlay">
                                        <h3>Image Search API</h3>
                                        <p>An absracted image search API</p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div>
                            <button class="open-lightbox-btn" for="lightbox3">
                                <div class="slider-item bg-image wiki_search">
                                    <div class="slider-item-overlay">
                                        <h3>Wikipedia Search Engine</h3>
                                        <p>
                                            A Wikiepedia Search Engine with a random article function
                                        </p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div>
                            <button class="open-lightbox-btn" for="lightbox4">
                                <div class="slider-item bg-image twitch-viewer">
                                    <div class="slider-item-overlay">
                                        <h3>Twitch.tv Viewer</h3>
                                        <p>
                                            Shows featured live streams from twitch.tv
                                        </p>

                                    </div>
                                </div>
                            </button>
                        </div>
                        <div>
                            <button class="open-lightbox-btn" for="lightbox5">
                                <div class="slider-item bg-image file-api">
                                    <div class="slider-item-overlay">
                                        <h3>File Metadata Microservice</h3>
                                        <p>
                                            An API that returns metadata for an uploaded file
                                        </p>

                                    </div>
                                </div>
                            </button>
                        </div>
                        <div>
                            <button class="open-lightbox-btn" for="lightbox6">
                                <div class="slider-item bg-image url-short">
                                    <div class="slider-item-overlay">
                                        <h3>URL Shortener Microservice</h3>
                                        <p>
                                            An API that accepts a url and replaces with an alias
                                        </p>

                                    </div>
                                </div>
                            </button>
                        </div>
                        <div>
                            <button class="open-lightbox-btn" for="lightbox7">
                                <div class="slider-item bg-image original-portfolio">
                                    <div class="slider-item-overlay">
                                        <h3>Old Portfolio Site</h3>
                                        <p>
                                            My first portfolio site using Bootstrap
                                        </p>

                                    </div>
                                </div>
                            </button>
                        </div>
                        <div>
                            <button class="open-lightbox-btn" for="lightbox8">
                                <div class="slider-item bg-image tribute-page">
                                    <div class="slider-item-overlay">
                                        <h3>Tribute Page</h3>
                                        <p>
                                            Fully responsive page using Bootstrap.
                                        </p>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div>
                            <button class="open-lightbox-btn" for="lightbox9">
                                <div class="slider-item bg-image weather-app">
                                    <div class="slider-item-overlay">
                                        <h3>Current Weather App</h3>
                                        <p>Shows the current weather forecast at the users location
                                        </p>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
            </section>
            <section class="contact-section fp-auto-height-responsive" data-anchor="contact">
                <h1>contact</h1>
                <div class="contact-content content">
                    <div class="social-icons">
                        <h2>Around the web</h2>
                        <p>Please get in touch using the form or one of the methods below</p>
                        <ul>
                            <li>
                                <a href="https://github.com/adamtarrant" target="_blank">
                                    <i class="fa fa-fw fa-github"></i>
                                    <span class="sr-text">Link to Github</span>
                                    <span>Checkout my code on</span>
                                    <span class="contact-anim github">Github</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/adam-tarrant-317b9512/" target="_blank">
                                    <i class="fa fa-fw fa-linkedin"></i>
                                    <span class="sr-text">Link to my Linkedin</span>
                                    <span>Connect with me on</span>
                                    <span class="contact-anim linkedin">LinkedIn</span>
                                </a>

                            </li>
                            <li>
                                <a href="mailto:contact@invocode.io">
                                    <i class="fa fa-fw fa-envelope-o"></i>
                                    <span class="sr-text">Link to my email</span>
                                    <div>
                                        <span>Send an email to</span>
                                        <span class="contact-anim email">contact@invocode.io</span>
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a class="hire-btn" href="#form-container">
                                    <i class="fa fa-fw fa-thumbs-o-up"></i>
                                    <span class="sr-text">Link to hire me</span>
                                    <span>Hire</span>
                                    <span class="contact-anim hire">me</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="form-container">
                        <h2>Get in touch</h2>
                        <form id="contact-form">
                            <label for="name">Name</label>
                            <input class="form-item" type="text" name="name" placeholder="Name" required="required">
                            <label for="email">Email</label>
                            <input class="form-item" type="email" name="email" placeholder="Email Address"  required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$">
                            <label for="message">Message</label>
                            <textarea class="form-item" type="text" rows="5" name="message" placeholder="Message"  required="required"></textarea>
                            <button class="contact-button" type="submit">
                                <span>SEND</span>
                            </button>
                        </form>
                    </div>
                </div>
            </section>
            </div>
            <div class="lightbox-container">
                <div class="lightbox">
                    <button class="close-btn">
                        <i class="fa fa-times"></i>
                    </button>
                    <div class="lightbox-content hide" id="lightbox1">
                        <h3>Random Quote Machine</h3>
                        <div class="lightbox-upper">
                            <p>The Random Quote Machine uses an API to retrieve random quotes - which the user can then tweet.
                                Fully responsive design. Implements the &lt;canvas&gt; and &lt;svg&gt; tags in HTML5 for
                                the background.
                            </p>
                            <div class="screenshot bg-image random-quote"></div>
                        </div>
                        <div class="lightbox-lower">
                            <div>
                                <h4>Technologies</h4>
                                <ul class="tech-list">
                                    <% include ../partials/devicons/javascript %>
                                        <% include ../partials/devicons/jquery %>
                                            <% include ../partials/devicons/html5 %>
                                                <% include ../partials/devicons/css3 %>
                                                    <% include ../partials/devicons/sass %>
                                                        <% include ../partials/devicons/bootstrap %>
                                </ul>
                            </div>
                            <div class="proj-links">
                                <h4>Check it out</h4>
                                <ul class="link-list">
                                    <li class="project-link">
                                        <a href="/randomquote" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                    <li class="code-link">
                                        <a href="https://gist.github.com/adamtarrant/15b7d024b8e4752a872114a9cdaf7aed" target="_blank">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lightbox-content hide" id="lightbox2">
                        <h3>Image Search API</h3>
                        <div class="lightbox-upper">
                            <p>This is an absracted image search API. The frontend acts as documentation allowing developers
                                to preview responses of the API endpoints. Allows for pagination.
                            </p>
                            <div class="screenshot bg-image img-search"></div>
                        </div>
                        <div class="lightbox-lower">
                            <div>
                                <h4>Technologies</h4>
                                <ul class="tech-list">
                                    <% include ../partials/devicons/javascript %>
                                        <% include ../partials/devicons/reactjs %>
                                            <% include ../partials/devicons/nodejs %>
                                                <% include ../partials/devicons/mongodb %>
                                                    <% include ../partials/devicons/webpack %>
                                                        <% include ../partials/devicons/sass %>
                                </ul>
                            </div>
                            <div class="proj-links">
                                <h4>Check it out</h4>
                                <ul class="link-list">
                                    <li class="project-link">
                                        <a href="https://search-img-api.herokuapp.com/" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                    <li class="code-link">
                                        <a href="https://github.com/adamtarrant/img-search-api" target="_blank">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lightbox-content hide" id="lightbox3">
                        <h3>Wikipedia Search Engine</h3>
                        <div class="lightbox-upper">
                            <p>Fully responsive page allowing users to search Wikipedia articles. Uses the Wikipedia search
                                API.
                            </p>
                            <div class="screenshot bg-image wiki_search"></div>
                        </div>
                        <div class="lightbox-lower">
                            <div>
                                <h4>Technologies</h4>
                                <ul class="tech-list">
                                    <% include ../partials/devicons/javascript %>
                                        <% include ../partials/devicons/jquery %>
                                            <% include ../partials/devicons/html5 %>
                                                <% include ../partials/devicons/css3 %>
                                                <% include ../partials/devicons/sass %>
                                </ul>
                            </div>
                            <div class="proj-links">
                                <h4>Check it out</h4>
                                <ul class="link-list">
                                    <li class="project-link">
                                        <a href="/wikisearch"  target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                    <li class="code-link">
                                        <a href="https://gist.github.com/adamtarrant/84435b5946790d06298191580c1c7331"  target="_blank">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lightbox-content hide" id="lightbox4">
                        <h3>Twitch.tv Viewer</h3>
                        <div class="lightbox-upper">
                            <p>Shows featured live streams from twitch.tv. Shows a list of regular streamers, live and offline.
                                There is also a search function to search for twitch.tv streamers.
                            </p>
                            <div class="screenshot bg-image twitch-viewer"></div>
                        </div>
                        <div class="lightbox-lower">
                            <div>
                                <h4>Technologies</h4>
                                <ul class="tech-list">
                                    <% include ../partials/devicons/javascript %>
                                        <% include ../partials/devicons/jquery %>
                                            <% include ../partials/devicons/html5 %>
                                                <% include ../partials/devicons/css3 %>
                                                <% include ../partials/devicons/sass %>
                                </ul>
                            </div>
                            <div class="proj-links">
                                <h4>Check it out</h4>
                                <ul class="link-list">
                                    <li class="project-link">
                                        <a href="/twitchtv"  target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                    <li class="code-link">
                                        <a href="https://gist.github.com/adamtarrant/4f0b5f7cb897a741f33dbe2c6b0ff2b8"  target="_blank">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lightbox-content hide" id="lightbox5">
                        <h3>File Metadata Microservice</h3>
                        <div class="lightbox-upper">
                            <p>An API that returns metadata for an uploaded file.
                            </p>
                            <div class="screenshot bg-image file-api"></div>
                        </div>
                        <div class="lightbox-lower">
                            <div>
                                <h4>Technologies</h4>
                                <ul class="tech-list">
                                    <% include ../partials/devicons/javascript %>
                                        <% include ../partials/devicons/reactjs %>
                                            <% include ../partials/devicons/nodejs %>
                                                <% include ../partials/devicons/webpack %>
                                                    <% include ../partials/devicons/html5 %>
                                                        <% include ../partials/devicons/css3 %>
                                                        <% include ../partials/devicons/sass %>
                                </ul>
                            </div>
                            <div class="proj-links">
                                <h4>Check it out</h4>
                                <ul class="link-list">
                                    <li class="project-link">
                                        <a href="https://file-metadata-getter.herokuapp.com/" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                    <li class="code-link">
                                        <a href="https://github.com/adamtarrant/file-metadata-service" target="_blank">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lightbox-content hide" id="lightbox6">
                        <h3>URL Shortener Microservice</h3>
                        <div class="lightbox-upper">
                            <p>An API that accepts a url and returns a parameter that can be used to submit to the API in place
                                of the original url. Stores urls in a mongoDB instance.
                            </p>
                            <div class="screenshot bg-image url-short"></div>
                        </div>
                        <div class="lightbox-lower">
                            <div>
                                <h4>Technologies</h4>
                                <ul class="tech-list">
                                    <% include ../partials/devicons/javascript %>
                                        <% include ../partials/devicons/nodejs %>
                                            <% include ../partials/devicons/express %>
                                                <% include ../partials/devicons/mongodb %>
                                </ul>
                            </div>
                            <div class="proj-links">
                                <h4>Check it out</h4>
                                <ul class="link-list">
                                    <li class="project-link">
                                        <a href="https://url-get-shorty.herokuapp.com/" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                    <li class="code-link">
                                        <a href="https://github.com/adamtarrant/url-get-shorty" target="_blank">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lightbox-content hide" id="lightbox7">
                        <h3>Old Portfolio Site</h3>
                        <div class="lightbox-upper">
                            <p>First portfolio site using the Bootstrap grid for a fully responsive layout
                            </p>
                            <div class="screenshot bg-image original-portfolio"></div>
                        </div>
                        <div class="lightbox-lower">
                            <div>
                                <h4>Technologies</h4>
                                <ul class="tech-list">
                                    <% include ../partials/devicons/javascript %>
                                        <% include ../partials/devicons/jquery %>
                                            <% include ../partials/devicons/html5 %>
                                                <% include ../partials/devicons/css3 %>
                                                    <% include ../partials/devicons/bootstrap %>
                                                    <% include ../partials/devicons/less %>

                                </ul>
                            </div>
                            <div class="proj-links">
                                <h4>Check it out</h4>
                                <ul class="link-list">
                                    <li class="project-link">
                                        <a href="/oldportfolio" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                    <li class="code-link">
                                        <a href="https://gist.github.com/adamtarrant/bc4dc4936a52ed8065abafba15e55622" target="_blank">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lightbox-content hide" id="lightbox8">
                        <h3>Tribute Page</h3>
                        <div class="lightbox-upper">
                            <p> An example of a fully responsive page using the Bootstrap grid.
                            </p>
                            <div class="screenshot bg-image tribute-page"></div>
                        </div>
                        <div class="lightbox-lower">
                            <div>
                                <h4>Technologies</h4>
                                <ul class="tech-list">
                                    <% include ../partials/devicons/html5 %>
                                        <% include ../partials/devicons/css3 %>
                                            <% include ../partials/devicons/bootstrap %>
                                </ul>
                            </div>
                            <div class="proj-links">
                                <h4>Check it out</h4>
                                <ul class="link-list">
                                    <li class="project-link">
                                        <a href="/tribute" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                    <li class="code-link">
                                        <a href="https://gist.github.com/adamtarrant/80cc9cbdcadce374f0c9a7b7ba64bc88" target="_blank">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lightbox-content hide" id="lightbox9">
                        <h3>Current Weather App</h3>
                        <div class="lightbox-upper">
                            <p>Uses geolocation API to obtain users location and provide the current weather forecast for that
                                City. Also uses the DarkSky API.
                            </p>
                            <div class="screenshot bg-image weather-app"></div>
                        </div>
                        <div class="lightbox-lower">
                            <div>
                                <h4>Technologies</h4>
                                <ul class="tech-list">
                                    <% include ../partials/devicons/javascript %>
                                        <% include ../partials/devicons/html5 %>
                                            <% include ../partials/devicons/css3 %>
                                                <% include ../partials/devicons/jquery %>
                                                <% include ../partials/devicons/sass %>
                                </ul>
                            </div>
                            <div class="proj-links">
                                <h4>Check it out</h4>
                                <ul class="link-list">
                                    <li class="project-link">
                                        <a href="/weatherapp" target="_blank">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </li>
                                    <li class="code-link">
                                        <a href="https://gist.github.com/adamtarrant/6a29496cac85887c44d813b06491af05" target="_blank">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-confirm"></div>
        </div>
        <footer> &copy; 2018 InvoCode All rights reserved </footer>
    </body>

</html>