<html>
    <% include ../partials/head %>

    <body>
        <div id="root">
            <header>
                <div class="logo"></div>
                <nav class="nav"></nav>
                <div class="social-icons"></div>
            </header>

        </div>
    </body>
</html>