<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Old portfolio site - InvoCode</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/dist/css/oldPortfolio.bundle.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="dist/js/oldPortfolio.bundle.js"></script>
</head>

<body id="top" data-offset="200" data-target="#mainNavbar" data-spy="scroll">
    <header class="navbar navbar-fixed-top" id="header">
        <div class="navbar-brand">
        <a href="#">Adam Taz Portfolio</a>
      </div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
      </div>
      <nav class="navbar-collapse collapse" id="mainNavbar">
        <ul class="nav navbar-nav navbar-right nav-pills">
          <li><a class="scrollable" href="#about-section">About</a></li>
          <li><a class="scrollable" href="#portfolio-section">Portfolio</a></li>
          <li><a class="scrollable" href="#contact-section">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div id="main-container" class="container-fluid fill-height">
      <div id="about-section" class="section text-center">
        <div id="self-descr">
          <p>Hello, my name is Adam. I am a Full-stack Web Developer living in London</p>
        </div>
      </div>
    
    <div id="portfolio-section" class="section">
      <div class="text-center section-title">
        <h1>Portfolio</h1>
      </div>
      <div class="row text-center">
        <div class="col-sm-6">
          <div class="thumb-container">
            <img class="img-responsive" src="http://static.jeffbullas.com/wp-content/uploads/2015/07/Chegg-web-design-example.png" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="thumb-container">
            <img class="img-responsive" src="http://static.jeffbullas.com/wp-content/uploads/2015/07/Chegg-web-design-example.png" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="thumb-container">
            <img class="img-responsive" src="http://static.jeffbullas.com/wp-content/uploads/2015/07/Chegg-web-design-example.png" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="thumb-container">
            <img class="img-responsive" src="http://static.jeffbullas.com/wp-content/uploads/2015/07/Chegg-web-design-example.png" />
          </div>
        </div>
      </div>
    </div>
    <div id="contact-section" class="section">
      <div class="text-center section-title">
        <h1>Contact Me</h1>
      </div>
      <div class="row text-center vertical-align">
        <div class="col-sm-8">
          <div id="form-container">
            <form>
              <label for="name">Name</label>
              <input class="form-item" type="text" name="name" placeholder="Name"><br>
              <label for="email">Email</label>
              <input class="form-item" type="email" name="email" placeholder="Email Address"><br>
              <label for="phone">Phone Number</label>
              <input class="form-item" type="text" name="phone" placeholder="Phone Number"><br>
              <label for="message">Message</label>
              <textarea class="form-item" type="text" rows="5" name="message" placeholder="Message"></textarea><br>
              <button type="submit">Send</button>
            </form>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="contact-descr vertical-align">
          <p>If you would like to get in touch, please use the form, or alternatively feel free to contact me via one of the various social media platforms</p>
          </div>
          <div id="social-media" class="vertical-align text-center">
            <h3>Around the Web</h3>
          <ul>
            <li class="toolt"><a class="fa fa-fw fa-github" href="https://github.com/AdamTaz"></a><span class="tooltiptext">Github</span></li>
            <li class="toolt"><a class="fa fa-fw fa-linkedin" href="#"></a><span class="tooltiptext">LinkedIn</span></li>
            <li class="toolt"><a class="fa fa-fw fa-twitter" href="#"></a><span class="tooltiptext">Twitter</span></li>
            <li class="toolt"><a class="fa fa-fw fa-flickr" href="#"></a><span class="tooltiptext">Flickr</span></li>
          </ul>
        </div>
        </div>
      </div>
    </div>
    </div>
      <div class="scroll-top"><a class="scrollable" href="#top"><i class="fa fa-chevron-up"></i></a>
      </div>
    <footer class="text-center">
      <div></div>
      <div>
        <p>
          Copyright AdamTaz 2017 &#x24B8
        </p>
      </div>
      </footer>
    </body>
    </html>