<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Random Quote Machine - InvoCode</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/randomQuote.bundle.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.0.1/trianglify.min.js"></script>
    <script src="dist/js/randomQuote.bundle.js"></script>
</head>

<body>
    <div id="quote-machine" class="text-center fluid-container">
      <div id="quote">
        <i class="fa fa-quote-left"></i><span id="text">Loading...</span><i class="fa fa-quote-right"></i><br>
        <span id="quote-author">Author</span>
      </div>
    </div>
        <div id="button-box" class="text-center fluid-container">
          <a id="tweet-link" target="_blank"><button id="tweet-quote" class="button"><i class="fa fa-twitter"></i></button></a>
        <button id="get-quote" class="button">New quote</button>
        </div>
  <footer class="text-center">
    <span class="credit">Background powered by Trianglify - <a href="http://qrohlf.com/trianglify/">Check it out here!</a></span>
    <span id="name" class="credit">Quote machine coded by Adam - &copy 2018</span>
  </footer>
</body>
</html>