<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Metal Gear Solid Tribute - InvoCode</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/tribute.bundle.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>

<body>
  
  <div id="mainContainer" class="container-fluid">
    <h1 id="mainTitle" class="text-center"><span><img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Metal_Gear_Solid_logo.svg"></span> Series Tribute</h1>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <img class="img-responsive img-rounded" src="http://cdn.bleedingcool.net/wp-content/uploads/2016/03/download-1.jpg" alt="MGS Logo">
      </div>
  
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center">
          <div class="gutter-top row thumb-border">
            <div class="col-sm-6 col-m-6">
              <p id="mainPara" class="text-left">
                Metal Gear is a series of action-adventure stealth video games, created by Hideo Kojima (adjacent) and developed and published by Konami. The first game, Metal Gear, was released in 1987 for the MSX2. The player takes control of a special forces operative
                Solid Snake who is assigned to find the titular superweapon "Metal Gear", a bipedal walking tank with the ability to launch nuclear weapons.
              </p>
            </div>
            <div class="col-sm-6 col-m-6">
              <img id="proPic" class="img-responsive img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/0/08/Hideo_Kojima_20100702_Japan_Expo_1.jpg" alt="Hideo Kojima">
            </div>
          </div>
          <div  class="row thumb-border gutter-top">
                    <h2>The Games</h2>
            <div class="col-sm-4 col-centered">
              <div class="thumb-container">
                <div class="thumb-border">
                <img class="img-responsive col-xs-12" src="https://upload.wikimedia.org/wikipedia/en/b/bd/Metal_Gear_cover.jpg">
                  <p>1987 - Metal Gear (MSX2)</p></div>
              </div>
            </div>
            <div class="col-sm-4 col-centered">
              <div class="thumb-container">
                <div class="thumb-border">
                <img class="img-responsive col-xs-12" src="https://upload.wikimedia.org/wikipedia/en/1/14/Metal_Gear_2_Boxart.JPG">
                  <p>1990 - Metal Gear (MSX2) 2</p></div>
              </div>
            </div>
            <div class="col-sm-4 col-centered">
              <div class="thumb-container">
                <div class="thumb-border">
                <img class="img-responsive col-xs-12" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/33/Metal_Gear_Solid_cover_art.png/256px-Metal_Gear_Solid_cover_art.png">
                  <p>1998 - Metal Gear Solid (PS1)</p></div>
              </div>
            </div>
            <div class="col-sm-4 col-centered">
              <div class="thumb-container ">
                <div class="thumb-border">
                <img class="img-responsive col-xs-12" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/54/Metal_Gear_2000_cover_art.jpg/250px-Metal_Gear_2000_cover_art.jpg">
                  <p>2000 - Metal Gear: Ghost Babel (Game Boy Color)</p></div>
              </div>
            </div>
            <div class="col-sm-4 col-centered">
              <div class="thumb-container">
                <div class="thumb-border">
                <img class="img-responsive col-xs-12" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6a/Metalgear2boxart.jpg/250px-Metalgear2boxart.jpg">
                  <p>2001 - Metal Gear Solid 2: Sons of LIberty (PS2)</p></div>
              </div>
            </div>
            <div class="col-sm-4 col-centered">
              <div class="thumb-container">
                <div class="thumb-border">
                <img class="img-responsive col-xs-12" src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b3/Mgs3box.jpg/250px-Mgs3box.jpg">
                  <p>2004 - Metal Gear Solid 3: Snake Eater</p></div>
              </div>
            </div>
            <div class="col-sm-4 col-centered">
              <div class="thumb-container">
                <div class="thumb-border">
                <img class="img-responsive col-xs-12" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4b/Mgs4us_cover_small.jpg/250px-Mgs4us_cover_small.jpg">
                  <p>2008 - Metal Gear Solid 4: Guns of the Patriots (PS3)</p></div>
              </div>
            </div>
            <div class="col-sm-4 col-centered">
              <div class="thumb-container">
                <div class="thumb-border">
                <img class="img-responsive col-xs-12" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8f/Metal_Gear_Solid_V_The_Phantom_Pain_cover.png/250px-Metal_Gear_Solid_V_The_Phantom_Pain_cover.png">
                  <p>2015 - Metal Gear Solid V: The Phantom Pain</p></div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 gutter-top">
                <p>For more information on the Metal Gear Solid Series <a target="_blank" href="https://en.wikipedia.org/wiki/Metal_Gear"><span id="link">click here</span></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="text-muted text-center"><small class="gutter-top">Coded by Adam Taz</small></footer>

</body>
</html>