
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
            <title>Twitch.TV Viewer - InvoCode</title>
            <link rel="stylesheet" type="text/css" href="/dist/css/twitchTv.bundle.css" />
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
            <script src="dist/js/twitchTv.bundle.js"></script>
            </head>
    <body>
      <header>
        <h1 class="logo">twitch.tv viewer <i class="fa fa-twitch"></i></h1>
        <div class="aerial-wrapper">
          <span class="aerial"></span>
          <span class="aerial"></span>
          <span class="aerial"></span>
        </div>
      </header>
      <div class="tv-wrapper">
            <div class="search-box">
          <form class="search-form search">
            <input type="search" placeholder="Search user..." required="required"></input>
            <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="screenmenu-wrapper">
        <div class="tv-screen featured">
          <h2>Featured Live Streams</h2>
            <ul class="channel-list">
    
            </ul>
        </div>
        <div class="menu-wrapper">
          <ul class="menu">
            <li class="menu-item featured">
              Featured
            </li>
            <li class="menu-item all">
              All
            </li>
            <li class="menu-item online">
              Live
            </li>
            <li class="menu-item offline">
              Offline
            </li>
          </ul>
        </div>
      </div>
      <a class="tv-logo" href="https://www.twitch.tv/" target="_blank"></a>
      </div>
    </body>
    
    </html>