<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Weather App - InvoCode</title>
    <link rel="stylesheet" type="text/css" href="/dist/css/weatherApp.bundle.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.0.1/trianglify.min.js"></script>
    <script src="dist/js/weatherApp.bundle.js"></script>
</head>

<body>
    <div id="main-container" class="row fluid-container text-center">
      <div class="col-sm-12 text-center">
        <div id="weather-view">
        <h1>
          Weather App
        </h1>
          <p id="location">Your location: </p>
          <p id="currentWeather">Current weather:</p>
          <i class="wi wi-day-sunny"></i>
          </div>
      </div>
    </div>
        <footer class="text-center">
        <span class="credit">Powered by Dark Sky - <a href="https://darksky.net/poweredby/">Check it out here!</a></span>
        <span id="name" class="credit">Weather App coded by Adam Tarrant - &copy 2017</span>
      </footer>
    </body>
    </html>