@import url("https://fonts.googleapis.com/css?family=Krona+One|Poppins|Roboto+Mono");
body {
  background: #6B4367;
  font-size: 12px;
  margin: 0;
  color: #eee;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%; }

ul {
  list-style: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 1rem;
  -webkit-margin-after: 1rem; }

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1; }
  header li {
    float: left;
    margin: 0 15px; }

nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transition: top 0.2s ease-out 0s;
  -moz-transition: top 0.2s ease-out 0s;
  -o-transition: top 0.2s ease-out 0s;
  transition: top 0.2s ease-out 0s; }

.nav-home {
  position: absolute;
  top: 75vh;
  -webkit-transition: top 0.2s ease-out 0s;
  -moz-transition: top 0.2s ease-out 0s;
  -o-transition: top 0.2s ease-out 0s;
  transition: top 0.2s ease-out 0s; }

.nav-list li {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 2px 15px #444;
  font-size: 1.5em;
  background-color: #eee;
  -webkit-transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s; }
  .nav-list li a {
    -webkit-text-stroke: 1px black; }
    .nav-list li a:hover {
      -webkit-text-stroke: 0; }
  .nav-list li.about:hover {
    background-color: #ED5B62; }
    .nav-list li.about:hover.active {
      color: #ED5B62;
      border-bottom: 2px solid #ED5B62; }
  .nav-list li.portfolio:hover {
    background-color: #506CBA; }
    .nav-list li.portfolio:hover.active {
      color: #506CBA;
      border-bottom: 2px solid #506CBA; }
  .nav-list li.contact:hover {
    background-color: #6B4367; }
    .nav-list li.contact:hover.active {
      color: #6B4367;
      border-bottom: 2px solid #6B4367; }
  .nav-list li.active {
    background-color: #eee; }

.logo {
  width: 10vw; }

.menu-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 25px;
  border: 2px solid #eee;
  border-radius: 10px;
  padding: 2px 8px;
  display: none; }
  .menu-hamburger:hover {
    background-color: #eee;
    border-color: #000; }

.icon-bar {
  border-bottom: 2px solid;
  border-color: inherit; }

.visible {
  visibility: visible; }

.social-icons {
  z-index: 2;
  text-shadow: 1px 2px 15px #444; }
  .social-icons a {
    font-size: 4em;
    -webkit-text-stroke: 1px black;
    -webkit-transition: color 1s ease-out 0s;
    -moz-transition: color 1s ease-out 0s;
    -o-transition: color 1s ease-out 0s;
    transition: color 1s ease-out 0s; }
    .social-icons a:hover {
      text-shadow: 0 0 15px #444; }
  .social-icons li {
    list-style: none; }
    .social-icons li:hover {
      cursor: pointer; }
      .social-icons li:hover .contact-anim {
        text-decoration: underline;
        font-size: 1.4em; }
      .social-icons li:hover .fa-thumbs-o-up, .social-icons li:hover .hire {
        color: #1CC89D; }
      .social-icons li:hover .fa-envelope-o, .social-icons li:hover .email {
        color: #FFAB24; }
      .social-icons li:hover .fa-github, .social-icons li:hover .github {
        color: #333; }
      .social-icons li:hover .fa-linkedin, .social-icons li:hover .linkedin {
        color: #0077B5; }
  .social-icons.contact {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    height: 100%;
    font-size: 1.2em; }
    .social-icons.contact ul {
      width: 100%; }
    .social-icons.contact li {
      display: flex;
      align-items: stretch;
      margin: 2em 0 0 0;
      width: 100%; }
    .social-icons.contact a {
      width: 30%; }
    .social-icons.contact div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 70%; }

.flex-space-start {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.sr-text {
  position: absolute;
  left: -200%; }

.contact-anim {
  -webkit-transition: font-size 0.5s ease 0s;
  -moz-transition: font-size 0.5s ease 0s;
  -o-transition: font-size 0.5s ease 0s;
  transition: font-size 0.5s ease 0s; }
  .contact-anim::before {
    content: '1';
    visibility: hidden; }

h1 {
  font-size: calc(2vw + 6vh);
  display: inline-block;
  position: relative;
  top: 3vh;
  left: 15vw;
  text-shadow: 1px 2px 15px #444;
  margin: auto 0 0 0; }
  h1::before {
    content: '< '; }
  h1::after {
    content: ' />'; }

.home-section {
  background-color: #1CC89D; }

.about-section {
  background-color: #ED5B62; }

.portfolio-section {
  background-color: #506CBA; }

.contact-section {
  background-color: #6B4367; }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 68%; }

.about-desc-wrapper {
  width: 40vw;
  min-width: 300px; }

.img-wrapper {
  margin: -20px 50px 0 50px;
  vertical-align: middle;
  width: 20vw;
  height: auto; }
  .img-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 50%; }

.slider {
  width: 80vw;
  height: 60vh;
  margin: 5rem 0 0 0; }

.slider-item {
  height: 50vh;
  margin: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; }
  .slider-item.random-quote {
    background-image: url("../img/random_quote_machine.png"); }
  .slider-item.img-search {
    background-image: url("../img/image_search_API.png"); }
  .slider-item.wiki_search {
    background-image: url("../img/wikipedia_search_engine.png"); }
  .slider-item.twitch-viewer {
    background-image: url("../img/twitch_tv_stream_list.png"); }
  .slider-item.file-api {
    background-image: url("../img/file_metadata_retriever_API.png"); }
  .slider-item.url-short {
    background-image: url("../img/url_shortener_microservice.png"); }
  .slider-item.original-portfolio {
    background-image: url("../img/first_portfolio_site.png"); }
  .slider-item.tribute-page {
    background-image: url("../img/first_page_with_bootstrap.png"); }
  .slider-item.weather-app {
    background-image: url("../img/weather_app.png"); }
  .slider-item:hover {
    cursor: pointer; }
    .slider-item:hover .slider-item-overlay {
      top: 0; }

.slider-item-overlay {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  top: 85%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: top 0.5s ease-out 0s;
  -moz-transition: top 0.5s ease-out 0s;
  -o-transition: top 0.5s ease-out 0s;
  transition: top 0.5s ease-out 0s;
  font-size: 1.2em; }
  .slider-item-overlay h3, .slider-item-overlay h4 {
    display: flex;
    align-items: center;
    margin: 0; }
  .slider-item-overlay h3 {
    height: 15%; }
  .slider-item-overlay p, .slider-item-overlay ul {
    width: 80%; }
  .slider-item-overlay p {
    margin: 0; }

.about-content {
  overflow: visible; }

.contact-content {
  align-items: flex-start;
  padding: 5em 0 0 0;
  height: 80%; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; }

#form-container {
  width: 25vw;
  height: 100%;
  font-size: 1.2em; }

form {
  display: flex;
  flex-direction: column;
  height: 100%; }

.contact-button {
  height: 3em;
  background: none;
  border: none;
  margin: 20px 0 0 0;
  outline: none; }
  .contact-button span {
    cursor: pointer;
    font-size: 3em;
    color: #eee;
    margin: auto;
    padding: 0.1em 0.5em;
    border: 2px solid #eee; }
    .contact-button span:hover {
      background-color: #eee;
      color: #6B4367;
      -webkit-transition: background-color 0.5s ease-out 0s;
      -moz-transition: background-color 0.5s ease-out 0s;
      -o-transition: background-color 0.5s ease-out 0s;
      transition: background-color 0.5s ease-out 0s; }

#form-container label {
  color: #eee;
  position: relative;
  font-size: 1.2em;
  float: left;
  margin-left: 10px;
  opacity: 0;
  top: 2em;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  -webkit-transition: top 0.3s ease 0s;
  -moz-transition: top 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s; }

#form-container .label-visible {
  opacity: 1;
  top: 0em; }

.form-item {
  background-color: transparent;
  font-size: 1.2em;
  margin: 10px;
  padding: 10px;
  border-width: 0px 0px 1px 0px;
  border-color: #eee;
  color: #eee;
  outline: none;
  z-index: 3;
  -webkit-transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s; }
  .form-item:focus {
    outline: 2px solid #fff; }

textarea.form-item {
  min-height: 100px;
  resize: none; }

.filled {
  background-color: #fff;
  color: black; }

@media (max-width: 670px) {
  h1, h2 {
    width: 100%;
    text-align: center;
    left: 0; }
  nav.nav-home {
    top: 0vh; }
  .nav-list {
    display: none; }
  .menu-hamburger {
    display: inherit;
    margin: 5px 0 0 0;
    cursor: pointer; }
  .social-icons.contact {
    width: 90%; }
  .fa-thumbs-o-up {
    margin: 0 0.1em 0 0; }
  #form-container {
    width: 90vw;
    height: 50vh;
    margin: 20px 0 0 0; } }
